In [1]:
from random import randint

def OTP(x):
    str1 = ""
    for i in range(x):
        str1 = str1 + str(randint(0,9))
        
    return str1
        
print(OTP(6))

656300

In [2]:
# walrus operator

# sound more like x += randint(0,9)


x = 0
while((x := x + randint(0,9)) < 10 ):
    print(x)

1
8
9

In [12]:
# lambda funtion which returns a + 10
x = lambda a : a + 10
print(x(5))

15

In [9]:
a = 10
# return object type 
print(type(a))

# return object id (means memory location)
print(id(a))

<class 'int'>
140721804932168

In [13]:
complex = 1j + 2


print(complex)
print(type(complex))
print(id(complex))
print(complex.real)
print(complex.imag)

(2+1j)
<class 'complex'>
1626844454992
2.0
1.0

In [19]:
a = 'Hello'

print(a)

print(a[0], a[1])

print(a[-1], a[-2])

Hello
H e
o l

In [23]:
# slicing operator
a = 'Hello'
print(a[0:2])

b = [1,2,3,4,5]
print(b[0:2])

c = (1,2,3,4,5)
print(c[0:2])

# return 0 -> 2 except 2

He
[1, 2]
(1, 2)

In [38]:
a="rajanikanth"

print(a[-4:])

# reverse this string
print(a[::-1])

anth
htnakinajar

In [54]:
A = "hello"

A = A[0].upper() + A[1:]

print(A)

Hello

In [56]:
A = "hello"

A =  A[:4] + A[-1].upper()
print(A)

hellO

In [57]:
# Examples of immutable data types are int, str, bool, float, tuple, etc
# fandamental data types are immutable

a = (1,2,3,4)

a[1] = 10

print(a)
# 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [61]:
a = 10
print(id(a))

a = a + 1
print(id(a))
# here new object is created
# and old object is deleted using garbage collector 
# also the id changes
print(a)

140721804932168
140721804932200
11

In [65]:
while(x := randint(0,9)) == 5:
    print(x)

In [67]:
x = 10
y = x

print(id(x))
print(id(y))

# same id because both are pointing to same object

140721804932168
140721804932168

In [69]:
x = 10
y = 10

print(id(x))
print(id(y))

# same id because both are pointing to same object
# memory reusability

140721804932168
140721804932168

In [110]:
list = [10, "hello", "bye", 10, 20, 30, 10]

# order preserved (means index is preserved and slicing is possible)
# duplicate values allowed
# heterogeneous data allowed
# mutable
# growable in nature

print(list)
print(type(list))

print(id(list[-1]))
print(id(list[0]))

# same id because both are pointing to same object value
# but using different index


list.append("Ends")
print(list)

list.insert(2, "inserted")
print(list)

list.remove(10)
list.remove(10)
print(list)

[10, 'hello', 'bye', 10, 20, 30, 10]
<class 'list'>
140721804932168
140721804932168
[10, 'hello', 'bye', 10, 20, 30, 10, 'Ends']
[10, 'hello', 'inserted', 'bye', 10, 20, 30, 10, 'Ends']
['hello', 'inserted', 'bye', 20, 30, 10, 'Ends']

In [119]:
tuple = ("hi", "hello", "bye", 10, 20, 30, 10)

# order preserved
# duplicate values allowed
# heterogeneous data allowed
# immutable

print(tuple)
print(type(tuple))

# concat a value to tuple
# because tuple is immutable & we can't append a value to tuple directly

tuple = tuple + ("Ends",)
print(tuple)


print(tuple[0])
print(tuple(0)) # dont call tuple like this

('hi', 'hello', 'bye', 10, 20, 30, 10)
<class 'tuple'>
('hi', 'hello', 'bye', 10, 20, 30, 10, 'Ends')
<class 'int'>
<class 'tuple'>
hi

TypeError: 'tuple' object is not callable

In [120]:

newTuple = (20)
print(type(newTuple))

newTuple = (20,) # comma is must
print(type(newTuple))

<class 'int'>
<class 'tuple'>

In [111]:
list = [10, 10, 10, 10, 20]
# to remove all 10 from list
while (list.count(10) > 0):
    list.remove(10)

print(list)

[20]

In [112]:
list = [10, 10, 10, 10, 20]
list2 = list

list[0] = 30
# both list and list2 will be changed
print(list2)

[30, 10, 10, 10, 20]

In [124]:
# set

# unordered
# duplicate values not allowed
# heterogeneous data allowed
# mutable
# growable in nature

set = {10, 10, 10, 10, 20}
print(set)
print(type(set))

set.add(30)
print(set)

set.remove(10)
print(set)

print(set[0]) # indexing not allowed

{10, 20}
<class 'set'>
{10, 20, 30}
{20, 30}

TypeError: 'set' object is not subscriptable

In [142]:
dist = {
    1: "hi",
    "a": "hello"
}

# key value pair
# key should be immutable
# value can be mutable
# key should be unique
# lookup is fast
# unordered
# duplicate values not allowed

print(type(dist))
print(dist["a"])
print(dist[1])

<class 'dict'>
hello
hi

In [155]:
# write one line code to print all keys and values of dictionary

for key, value in dist.items(): print(key, value)

[print(key, value) for key, value in dist.items()]

1 hi
a hello
1 hi
a hello

[None, None]